@page "/Usuario/Create"
@inject NavigationManager navigationManager
@inject UsersInterface<AspNetUsers> userService
@using UsersBlazorApp.Data.Models

@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<EditForm Model="AspNetUsers" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Registro de Usuarios</h3>
        </div>
        <div class="card-body">
            <div class="row">
               
          
            </div>
            <div class="mb-3">
                <label for="Nombre" class="form-label">Nombre:</label>
                <InputText @bind-Value="AspNetUsers.UserName" class="form-control" />
                <ValidationMessage For="@(() => AspNetUsers.UserName)" />
            </div>
            
            <div class="mb-3">
                <label for="Email" class="form-label">Email:</label>
                <InputText @bind-Value="AspNetUsers.Email" class="form-control" />
                <ValidationMessage For="@(() => AspNetUsers.Email)" />
            </div>
           
           
            
            
            
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label">Número de Teléfono:</label>
                <InputText id="PhoneNumber" @bind-Value="AspNetUsers.PhoneNumber" class="form-control" />
                <ValidationMessage For="@(() => AspNetUsers.PhoneNumber)" />
            </div>
           
           
        </div>
        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                @*Boton Nuevo*@
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                @*Boton Guardar*@
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                @*Boton Retroceder*@
                <button type="button" class="btn btn-outline-danger" @onclick="Volver"><span class="bi bi-arrow-bar-left"></span> Retroceder </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public AspNetUsers AspNetUsers { get; set; } = new AspNetUsers();
    private string selectedClaim;

    public async Task Guardar()
    {
    
        var guardar = await userService.AddAsync(AspNetUsers);
    }

    private void Nuevo()
    {
        AspNetUsers = new AspNetUsers();
        selectedClaim = string.Empty;
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/Usuario/Index");
    }
}